<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.biobam.blast2go.action.extension">
      <client
            class="com.example.compare.sequencelist.action.CompareSequenceList">
      </client>
   </extension>
   <extension
         point="com.biobam.blast2go.api.datatype.definition.extension">
      <client
            class="com.example.compare.sequencelist.job.CompareSequenceListObjectCreator">
      </client>
   </extension>
   <extension
         point="com.biobam.blast2go.api.dataviewer.interfaces.controller">
      <client
            class="com.example.compare.sequencelist.job.CompareSequenceListControllerCreator">
      </client>
   </extension>

</plugin>
